<h3>MyStore Order Received</h3>
<p>
<%= @order.name %> This is just to let you know that we've received your recent order: <%= @order.id %>
</p>
<%= @order.line_items.count %> items.
<br>
<hr>

<div class="order">
<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
<% @order.line_items.each do |item| %>
  <tr>
  <td> <%= item.quantity %> &times; </td>
  <td> <%= item.product.title %> </td>
  <td class="item_price"> <%= number_to_currency(item.total_price) %> </td>
  </tr>
<% end %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
  </tr>
</table>
</div>

Total: <%= @order.total_price %> 

