<div class="container">
<h1>Update your profile</h1>
<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, placeholder: 'Enter name' %>

  <%= f.input :email, placeholder: 'Enter email' %>

  <%= f.input :address, placeholder: 'Enter address'  %>

  <%= f.button :submit %>
<% end %>
</div>

