
<%= will_paginate %>
<div class="container">
	<h2>List of Members</h2>
  <p>This is a list of members sorted by join date:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Join date</th>
      </tr>
    </thead>
    <tbody>
  <%= render @users %>
    </tbody>
</table>
</div>
<%= will_paginate %>
