<div class="container">
  <h1>Profile of <%= @user.name %></h1>
  
  <div class="row">
    <div class="col-md-10"> 
      <table class="table">
        <tr>
          <td>Joined:</td>
          <td><%= @user.created_at %></td>
          <td><%= time_ago_in_words(@user.created_at) %> ago</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td><%= @user.address %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to "Edit Profile", edit_user_path(@user) if user_signed_in? %>
  </div>
</div>
