<p id="notice"><%= notice %></p>
<% title = @title || "Orders" %>
<h1><%= title %></h1>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th>Value</th>
      <th>Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= order.total_price %></td>
        <td><%= order.line_items.count %></td>
        <td><%= link_to '', order , class: 'glyphicon glyphicon-folder-open' %></td>
        <td><%= link_to '', edit_order_path(order), class: 'glyphicon glyphicon-edit' %></td>
        <td><%= link_to '', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-remove' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Order', new_order_path %>
