<p id="notice"><%= notice %></p>
<div class="container">
  
  <table class="table">
    <tr>
      <td align=right>
        <strong>Id:</strong>
      </td>
      <td>
        <%= @order.id %>
      </td>
    </tr>
    <tr>
      <td align=right>
        <strong>Name:</strong>
      </td>
      <td>
        <%= @order.name %>
      </td>
    </tr>
    
    <tr>
      <td align=right>
        <strong>Address:</strong>
      </td>
      <td>
        <%= @order.address %>
      </td>
    </tr>
    
    <tr>
      <td align=right>
        <strong>Email:</strong>
      </td>
      <td>
        <%= @order.email %>
      </td>
    </tr>
    
    <tr>
      <td align=right>
        <strong>Pay type:</strong>
      </td>
      <td>
        <%= @order.pay_type %>
      </td>
    </tr>
    <tr>
      <td align=right>
        <strong>Status:</strong>
      </td>
      <td>
        <%= @order.status || "pending" %>
      </td>
    </tr>
  </table>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Qty</th>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </thead>
    <%= render @order.line_items, buttons: false %>
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
    </tr>
  </table>
  
  <% if @order.status != 'shipped' %>
  <%= button_to 'Ship', ship_order_path(@order) , method: :put , class: 'btn btn-primary btn-block' %> 
  <% end %>
  
</div>
<div class="container">
  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Orders', orders_path %>
</div>
