<h2> Your Cart </h2>
<table class="table">
  <%= render cart.line_items, buttons: true %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<% if !@order %>
  <%= button_to 'Checkout', new_order_path, method: :get, class: 'btn btn-primary btn-sm' %>
<% end %>
<%= button_to 'Empty Cart', cart, method: :delete, data: { confirm: 'Are you sure?' }, remote: true , class: 'btn btn-default btn-xs' %>
