<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td> <%= line_item.quantity %> &times; </td>
  <td> <%= line_item.product.title %> </td>
  <td class="item_price"> <%= number_to_currency(line_item.total_price) %> </td>
  <% if buttons %>
    <td> <%= button_to 'x', line_item, method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %> </td>
    <td> <%= button_to '--', decrement_line_item_path(line_item) , method: :put, remote: true , class: 'btn btn-default btn-xs' %> </td>
  <% end %>
</tr>
