$('#notice').hide();

// since I am doing a hide upon empty cart, therefore i need this, the length line won't work
// $("#cart").show("blind", 1000);

// now this won't work a second time since i have cleared the cart and there is no total line
// the 1 relates to the total line, what it point to having a total line, and Empty cart buttons
// if the cart is empty.
if ($('#cart tr').length == 1) { $('#cart').show('blind', 1000); }

$('#cart').html("<%= escape_javascript render(@cart) %>");

$('#current_item').css({'background-color':'#88ff88'}).
  animate({'background-color':'#114411'}, 1000);
